
.headshot{
      width: 200px;
    border-radius: 150px;
    margin-top: 5px;
}
img{
  width: 300px;
  height:200px;
}
.row{
  padding: 10px;
}
body{
  background: rgb(112,128,144);

  background-size: 100%;

}
h2{
  color: blue;
}
#name{
  font-size: 50px;
}
#developer{
  font-size: 30px;
}
.project{
  display: inline-block;
}
.home{
  height: 100vh;
}
article{
  margin-top: 60px;
  text-align: center;
}
#page3{
  background-color: #aaaaaa;
  width: 100%;
}
footer{
  text-align: center
}
li{
  display: inline-block;
  text-align: center
}
